.header-content {
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.header-content .brand-name a {
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: rgb(94, 32, 32);
}

@media screen and (max-width: 768px) {
    .header-content .brand-name a {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 480px) {
    .header-content .brand-name a {
        font-size: 1rem;
    }
}
