html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #FEFAF6;
}

.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

header {
  grid-row: 1;
  width: 100%;
  background: #fff;
}

.content-container {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #f9f9f9;
}

footer {
  grid-row: 3;
  width: 100%;
  background: #fff;
  text-align: center;
}

.product-catalog {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}


.catalog-controls {
  flex-shrink: 0;
  width: 90%;
  margin: 1rem auto;
  display: flex;
  gap: 2rem;
  justify-content: flex-start;
  align-items: center;
}

.product-list {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
  overflow-y: auto;
  scroll-behavior: smooth;
  border-radius: 5px;
  background-color: #F0EBE3;
}


.product-details {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 90%;
  margin: 1rem auto;
  padding: 1rem;
  background-color: #F0EBE3;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 100%;
  overflow-y: auto;
}


.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 15px;
  background-color: #4a4947;
  color: #eadbc8;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 10;
}

.back-button:hover {
  background-color: #393836;
}

.d-product-image {
  flex: 1 1 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-product-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f3f1ee;
}

.d-product-info {
  flex: 2 1 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  font-family: "Work Sans", sans-serif;
  color: #4a4947;
}

.d-product-info h1 {
  margin-bottom: 15px;
  font-size: 2rem;
  color: #333;
}

.d-category,
.d-price,
.d-description {
  margin-bottom: 15px;
  font-size: 1rem;
  line-height: 1.6;
}


@media screen and (max-width: 1024px) {
  .app {
    grid-template-columns: 1fr;
  }

  .catalog-controls {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .product-list {
    padding: 0.5rem;
    width: 100%;
  }

  .product-details {
    flex-direction: row;
    align-items: center;
    width: 90%;
  }

  .d-product-image,
  .d-product-info {
    width: 40%;
  }

  .d-product-info {
    text-align: center;
    padding: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .catalog-controls {
    flex-direction: row;
    width: 90%;
  }

  .product-list {
    padding: 0.5rem;
    width: 100%;
  }

  .product-details {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .d-product-info {
    flex: none;
    text-align: center;
    padding: 1rem;
    width: 90%;

  }

  .d-product-image {
    width: 40%;
    margin-top: 2rem;
    min-width: 100px;
    min-height: 150px;
  }

  .back-button {
    margin-bottom: 15px;
    align-self: flex-start;
  }

  .d-product-info h1 {
    font-size: 1.5rem;
  }

  .d-category,
  .d-price,
  .d-description {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 480px) {
  .catalog-controls {
    gap: 0.5rem;
    flex-direction: row;
    justify-content: center;
  }

  .back-button {
    top: 10px;
    left: 10px;
    font-size: 0.8rem;
    padding: 8px 12px;
  }

  .d-product-info h1 {
    font-size: 1.2rem;
  }

  .d-product-info {
    width: 90%;
  }

  .d-product-image {
    width: 50%;
    margin-top: 1rem;
    min-width: 100px;
    min-height: 150px;
  }

  .d-category,
  .d-price,
  .d-description {
    font-size: 0.8rem;
  }

  .product-details {
    padding: 0.5rem;
    width: 90vw;
    justify-content: center;
  }
}